$shade-map: (
  "100",
  "200",
  "300",
  "400",
  "500",
  "600",
  "700",
  "800",
  "900",
  "1000",
  "1100",
  "1200",
  "1300",
  "1400",
  "1500",
  "1600"
);

$h-map: (
  // neutral colors
  "grey": 0,

  // accent colors
  "pearl": 282,
  "jade": 185,
  "rust": 48,

  // primary/theme colors
  "deep-orange": 48,
  "cyenta": 282,
  "teal": 185,

  // status colors
  "emerald": 155,
  "sky": 230,
  "amber": 70,
  "red": 30
);

$l-map: (
  "100": 98%,
  // 2
  "200": 96%,
  // 4
  "300": 92%,
  // 6
  "400": 86%,
  // 6
  "500": 80%,
  // 6
  "600": 74%,
  // 6
  "700": 68%,
  // 7
  "800": 61%,
  // 7
  "900": 54%,
  // 7
  "1000": 47%,
  // 7
  "1100": 40%,
  // 6
  "1200": 34%,
  // 6
  "1300": 28%,
  // 6
  "1400": 22%,
  // 6
  "1500": 16%,
  // 4
  "1600": 12%,
);

$c-map: (
  "100": 0.02,
  "200": 0.04,
  "300": 0.08,
  "400": 0.15,
  "500": 0.18,
  "600": 0.23,
  "700": 0.27,
  "800": 0.25,
  "900": 0.22,
  "1000": 0.19,
  "1100": 0.16,
  "1200": 0.12,
  "1300": 0.09,
  "1400": 0.06,
  "1500": 0.04,
  "1600": 0.04,
);
// $l-map: (
//   "50": 98.51%,
//   "100": 97.02%,
//   "200": 92.19%,
//   "300": 86.99%,
//   "400": 71.55%,
//   "500": 55.55%,
//   "600": 43.86%,
//   "700": 37.15%,
//   "800": 26.86%,
//   "900": 20.46%,
//   "1000": 14.48%,
//   "1100": 14.48%,
// );
// $c-map: (
//   "50": 0.02,
//   "100": 0.04,
//   "200": 0.08,
//   "300": 0.15,
//   "400": 0.2,
//   "500": 0.25,
//   "600": 0.2,
//   "700": 0.15,
//   "800": 0.1,
//   "900": 0.05,
//   "950": 0.04,
// );

$neutral-c-map: (
  "100": 0,
  "200": 0,
  "300": 0,
  "400": 0,
  "500": 0,
  "600": 0,
  "700": 0,
  "800": 0,
  "900": 0,
  "1000": 0,
  "1100": 0,
  "1200": 0,
  "1300": 0,
  "1400": 0,
  "1500": 0,
  "1600": 0,
);

$accent-c-map: (
  "100": 0.025,
  "200": 0.025,
  "300": 0.025,
  "400": 0.025,
  "500": 0.025,
  "600": 0.025,
  "700": 0.025,
  "800": 0.025,
  "900": 0.025,
  "1000": 0.025,
  "1100": 0.025,
  "1200": 0.025,
  "1300": 0.025,
  "1400": 0.025,
  "1500": 0.025,
  "1600": 0.025,
);
// $accent-c-map: (
//   "50": 0.0125,
//   "100": 0.0125,
//   "200": 0.025,
//   "300": 0.03,
//   "400": 0.035,
//   "500": 0.04,
//   "600": 0.04,
//   "700": 0.04,
//   "800": 0.04,
//   "900": 0.04,
//   "1000": 0.04,
//   "1100": 0.04,
// );

$chroma-map: (
  "grey": $neutral-c-map,
  "pearl": $accent-c-map,
  "jade": $accent-c-map,
  "rust": $accent-c-map,
  "deep-orange": $c-map,
  "cyenta": $c-map,
  "teal": $c-map,
  "emerald": $c-map,
  "sky": $c-map,
  "amber": $c-map,
  "red": $c-map,
);

:root {
  @each $color, $chroma in $chroma-map {
    @each $shade in $shade-map {
      --#{$color}-#{$shade}: oklch(
        #{map-get($l-map, $shade)}
          #{map-get($chroma, $shade)}
          #{map-get($h-map, $color)}
      );
    }
  }
}
